<div class="container">
  <div class="row"> 
    <div class="col-md-6 col-6 text-center"> 
        
        <img src="/assets/avatar.png" class="round-img-user-show" />
        
        
      
    </div>
    


    <div class="col-md-6 col-6">
      <div class="row">
      　<div class="<%= @user.id %>" id="target"></div>
        <h4 class="show-name">
          <%= @user.name %>

        </h4>
      </div>
      
    </div>
  </div>
</div>
<% if @user == current_user %>
  <div class="text-center">
    
    <% if @user = current_user %> <%# この行を追加する %>
      <%= link_to "編集する", edit_user_registration_path, class:"btn-outline-light userList" %>/<%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
<% end %>
<br>
<br>

<div class="container">  
  <h6 class="midasi text-center">投稿・編集に携わった作品</h6>
  <div class="row">
    <div class="card-group">
      <% @posts.each do |id| %>
        <% post = Post.find(id)%>
        <% composer_id = PostComposer.find_by(post_id: post.id).composer_id %>
        <% composer = Composer.find(composer_id) %>
        
          <div class="col-lg-2 col-4">
            <div class="example">
              <%= link_to post_path(post) do %>
                  
                
                <% if composer.profile_photo.attached? %>
                  <%= image_tag composer.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "card-img-top"  %>
                <% end %>
              <% end %>
              <div class="small-font"><%= post.title %></div>
            </div>
          </div>
        
        
        
        
      <% end %>
    </div> 
  </div>

</div>
<section id="sec">
  <h4>演奏体験記</h4>
  <ul>
    <% if @reviews.first %>
      <% @reviews.each do |review| %>
        
          <li class="review">
            
            <%= link_to user_path(review.user), class: "black-color" do%>
              
              <img src="/assets/avatar.png" class="post-profile-icon" />
              
              <%= review.user.name%>
              
            <% end %>
          
            <h5 class="margin-top"><%= review.instrument %>/<%= review.orchestra %></h5>
            
            <h5><%= link_to "詳細を見る", review_path(review) %></h5>
            <div class="review-card">
              
                
                <%= truncate(strip_tags(review.caption.to_s),length: 100)%>
                
            </div>
            
          </li>
        
      <% end %>
    <% else %>
      
      <li class="review">

        <h4>レビュー書き方例1</h4>
        <h5>Vn/○○交響楽団</h5>
        <div class="review-card">
          
            <div class="h15">
              <br>
                ・演奏時に気をつけたポイント
                <br>・どういうイメージを持って演奏会に望んだか</br>
              </br>
            </div>
        </div>
        
      </li>
      <li class="review">

        <h4>レビュー書き方例2</h4>
        <h5>Pc/○○交響楽団</h5>
        <div class="review-card">
          
            <div class="h15">
            　<br>
                ・次に同じ曲を演奏する人に向けたアドバイス
                <br>・自分が行った練習法</br>
              </br>
            </div>
        </div>
        
      </li>

      <br>
      <br>
      <br>
    <% end %>
    

  </ul>
</section>
<br>














