

<nav class="navbar navbar-expand-lg navbar-light">
  
  
      <div class="container">
        <h2 class="amatic"><%= link_to "ClaCom", root_path %></h2>
      
      
        <h6>
          <% if current_user %>
            <% link_to user_path(current_user) do %>
              <i class="fas fa-user"></i>
            <% end %>
            <%= link_to user_path(current_user) do %>
                          
              <i class="fas fa-user white-color"></i>
              
            <% end %>
          <% else %>
            
            
                            
            <%= link_to new_user_session_path do%>
              <i class="fas fa-user"></i>
            <% end %>
          
          <% end %>
          <%= link_to new_post_path(current_user),"data-turbolinks": false do %>
                          
              
            /         <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to reviews_path,"data-turbolinks": false do %>
                          
              
          /           <i class="fas fa-mail-bulk"></i>
          <% end %>
        </h6>
        
      </div>
    
  
</nav>